@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: 'Gmarket-Sans';
    src: url('../font/gmarketsans/GmarketSansTTFLight.eot');
    src: url('../font/gmarketsans/GmarketSansTTFLight.eot?#iefix') format('embedded-opentype'),
        url('../font/gmarketsans/GmarketSansTTFLight.woff2') format('woff2'),
        url('../font/gmarketsans/GmarketSansTTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket-Sans';
    src: url('../font/gmarketsans/GmarketSansTTFBold.eot');
    src: url('../font/gmarketsans/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
        url('../font/gmarketsans/GmarketSansTTFBold.woff2') format('woff2'),
        url('../font/gmarketsans/GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket-Sans';
    src: url('../font/gmarketsans/GmarketSansTTFMedium.eot');
    src: url('../font/gmarketsans/GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'),
        url('../font/gmarketsans/GmarketSansTTFMedium.woff2') format('woff2'),
        url('../font/gmarketsans/GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ownglyph-PDH';
    src: url('../font/온글잎박다현체/Ownglyph_PDH-Rg.eot');
    src: url('../font/온글잎박다현체/Ownglyph_PDH-Rg.eot?#iefix') format('embedded-opentype'),
        url('../font/온글잎박다현체/Ownglyph_PDH-Rg.woff2') format('woff2'),
        url('../font/온글잎박다현체/Ownglyph_PDH-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.font p {
    font-family: 'Gmarket-Sans';
    font-size: 50px;
}
.font p:nth-child(1) {
    font-weight: 300;
}
.font p:nth-child(2) {
    font-weight: bold;
}
.font p:nth-child(3) {
    font-weight: 500;
}
.font-2 p {
    font-family: 'Ownglyph-PDH';
    font-size: 60px;
}
