@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.main_visual {
    height: 800px;
    background-color: aqua;
}
.section-01 {
     height: 800px;
     background-color: rgb(254, 255, 179);
}
.section-02 {
     height: 800px;
     background-color: rgb(255, 199, 248);
}
